* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color:  hsl(218, 44%, 22%);
    padding: 15px;
}

.text p {
    color: hsl(216, 15%, 48%);
}